<h1 class="app-main-title">Events > EventSpeakers</h1>

<app-events-table-eventspeakers
  string:tag="table-eventspeakers"
  int:record-id="{{ viewParams.recordId }}"
></app-events-table-eventspeakers>