<h1 class="app-main-title">Events > Settings</h1>

<a href="events/settings/types" class="btn btn-square btn-transparent">
  <span class="icon"><i class="fas fa-layer-group"></i></span>
  <span class="text">Event types</span>
</a>