
<h1 class="app-main-title">Make payment</h1>

You ran out of credit. Please make a payment.

<a href="test/make-random-payment" class="btn btn-large btn-primary">
  <span class="icon"><i class="fas fa-euro"></i></span>
  <span class="text">TEST: Make random payment</span>
</a>
