<h1 class="app-main-title">Warehouses > Settings</h1>

<a class="btn btn-large btn-square btn-transparent" href="warehouse-types">
  <span class="icon"><i class="fas fa-cog"></i></span>
  <span class="text">Types of warehouses</span>
</a>

<a class="btn btn-large btn-square btn-transparent" href="location-types">
  <span class="icon"><i class="fas fa-cog"></i></span>
  <span class="text">Types of locations</span>
</a>