<h1 class="app-main-title">Warehouses > Warehouses</h1>

<app-warehouses-table-warehouses
  string:tag="table-warehouses"
  int:record-id="{{ viewParams.recordId }}"
></app-warehouses-table-warehouses>