<h1 class="app-main-title">Worksheets > ActivityTypes</h1>

<app-worksheets-table-activity-types
  string:tag="table-activity-types"
  int:record-id="{{ viewParams.recordId }}"
></app-worksheets-table-activity-types>