<h1 class="app-main-title">Inventory > Transactions</h1>

<app-inventory-table-transactions
  string:tag="table-transactions"
  int:record-id="{{ viewParams.recordId }}"
></app-inventory-table-transactions>