<h1 class="app-main-title">{{ translate("Documents") }}</h1>

<app-documents-table-documents
  string:tag="table-documents"
  int:record-id="{{ viewParams.recordId }}"
></app-documents-table-documents>
