<h1 class="app-main-title">{{ translate('Usage') }}</h1>

<div class="gap-2">
  <a class="btn btn-square btn-transparent w-48" href="usage/log">
    <span class="icon"><i class="fas fa-chart-bar"></i></span>
    <span>{{ translate('Log') }}</span>
  </a>
</div>