<h1>{{ translate('Calendar Sources') }}</h1>

<br/>

<a class="btn" href="calendar-sources/google">
  <span class="icon"><i class="fab fa-google"></i></span>
  <span class="text">{{ translate('Manage Google Calendars') }}</span>
</a><br/>
<br/>
<a class="btn" href="calendar-sources/ics">
  <span class="icon"><i class="fas fa-file"></i></span>
  <span class="text">{{ translate('Manage online .ics Calendars') }}</span>
</a>
