<h1>{{ translate('Calendar Sources') }}</h1><br/>
<h2>Online .ics Calendar</h2><br/>

<app-table-calendar-sync-sources
  json:custom-endpoint-params='{"type": "ics"}'
  json:description='{"ui": { "title": "ICS sources", "addButtonText": "Add ICS url" }}'
  json:form-props='{"descriptionSource": "props", "description": {"inputs": {"type": {"readonly": true}}, "defaultValues": {"type": "ics"}}}'
></app-table-calendar-sync-sources>
<!-- string:model="HubletoApp/Community/CalendarSync/Models/Source" -->