{% if viewParams.chartData|length > 0 %}
  <div className="w-full">
    <app-chart
      string:type='pie'
      json:legend='{"display": true, "position": "right"}'
      json:data='{{ viewParams.chartData|json_encode|raw }}'
      class="block h-[20em] text-center p-2"
    ></app-chart>
  </div>
{% else %}
  <div class="alert alert-info">
    {{ translate('No deals found.') }}<br/>
    <br/>
    <a href="deals?add" class="btn btn-transparent">
      <span class="icon"><i class="fas fa-add"></i></span>
      <span class="text">{{ translate('Add deal') }}</span>
    </a>
  </div>
{% endif %}
