<h1 class="app-main-title">{{ translate('Notifications') }}</h1>

<div class="flex gap-2 w-full">
  <app-notifications-table-notifications string:folder="inbox"></app-notifications-table-notifications>
</div>