<h1>{{ translate('Tools') }}</h1>

<div class="list">
  {% for tool in viewParams.tools %}
    <a class="btn btn-list-item btn-transparent" href="{{ tool.url }}">
      <span class="icon"><i class="{{ tool.icon }}"></i></span>
      <span class="text">{{ tool.title }}</span>
    </a>
  {% endfor %}
</div>
