{% extends '@hubleto/layouts/Auth.twig' %}

{% block status %}
  {% if viewParams.status %}
    <div class="alert alert-success">
      A password reset link has been sent to your email address.<br/>
      <br/>
      Check your inbox.
    </div>
  {% endif %}
{% endblock %}

{% block inputs %}
  {% if not viewParams.status %}
    <input
      type="email" name="login" placeholder="{{ translate("Email") }}"
      onkeypress='if (event.keyCode == 13) { document.getElementById("login_form").submit(); }'
    />
  {% endif %}
{% endblock %}

{% block button %}
  {% if not viewParams.status %}
    <button type="submit" class="btn btn-large">
      <span class="icon"><i class="fas fa-arrow-right"></i></span>
      <span class="text">{{ translate("Request password reset") }}</span>
    </button>
  {% endif %}
{% endblock %}

{% block links %}
  {% if not viewParams.status %}
    <a class="btn btn-transparent" href="{{ config.rootUrl }}">
      <span class="icon"><i class="fas fa-arrow-left"></i></span>
      <span class="text">{{ translate("Back to sign in") }}</span>
    </a>
  {% endif %}
{% endblock %}