<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Platform config') }}</h1>

<app-table
  string:model="ADIOS/Models/Config"
  json:description='{"ui": {"showFulltextSearch": true}}'
  string:full-text-search="{{ viewParams.q }}"
></app-table>