<h1 class='app-main-title'>{{ translate('Settings') }} > {{ translate('Pipelines') }}</h1>

<app-settings-table-pipelines
  string:tag="table-pipelines"
  int:record-id="{{ viewParams.recordId }}"
></app-settings-table-pipelines>