<h1 class="app-main-title">{{ translate('Customers') }}</h1>

<app-customers-table-customers
  string:tag="table-customers"
  int:record-id="{{ viewParams.recordId }}"
></app-customers-table-customers>