<h1 class="app-main-title">Developer</h1>

<div class="list">
  <a href="developer/db-updates" class="btn btn-transparent btn-list-item">
    <span class="text">{{ translate("DB Updates") }}</span>
  </a>
  <a href="developer/form-designer" class="btn btn-transparent btn-list-item">
    <span class="text">{{ translate("Form designer") }}</span>
  </a>
</div>