<h1 class="app-main-title">{{ translate('Settings') }} > {{ translate('Dashboards') }}</h1>

<app-dashboards-table-dashboards
  string:tag="table-dashboards"
  int:record-id="{{ viewParams.recordId }}"
></app-dashboards-table-dashboards>